@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex flex-column justify-content-start">
    <h1 class="display-4"></h1>

    <ul class="list-group">
        <li class="list-group-item">
            <a class="h5" asp-area="" asp-controller="Movies" asp-action="Index">Просмотреть каталог фильмов</a>
            </li>
        <li class="list-group-item">
            <a class="h5" asp-area="" asp-controller="Movies" asp-action="Create">Добавить новый фильм в каталог</a>
        </li>

    </ul>

    
</div>